@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set margins and hide overflow */
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.main {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Custom CSS */
.backdrop-blur-laptop, .backdrop-blur-mobile, .backdrop-blur-nav-items {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

@keyframes floatIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.float-in {
    animation: floatIn 1s ease-out forwards;
}

@keyframes floatInAbout {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.float-in-section {
    opacity: 0; /* Ensure the element is initially invisible */
    transition: opacity 0.5s ease-out; /* Smooth transition for opacity */
}

.float-in-section-visible {
    opacity: 1;
    animation: floatInAbout 1s ease-out forwards;
}

.reverse {
    unicode-bidi: bidi-override;
    direction: rtl;
}